.td {
}

.red {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    background-color: red;
}

.green {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    background-color: green;
}

body {
    text-align: center; /* Центрируем содержимое по горизонтали */
}

.container {
    margin-top: 20px; /* Отступ сверху на 20 пикселей */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое по вертикали */
}
